.question {
	margin: 8px 0;
}

.question section {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 0.75em;
	border-radius: 0.5em;
	border: 1px solid #E3E4D3;
	background-color: #e3e4d32c;
}

.question.isSelected section {
	background-color: #e3e4d3b7;
}

.question.hasChecked section{
	background-color: #f5a3b344;
}

.questionTitle {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.answers {
	display: flex;
	gap: 8px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.answer {
	display: block;
	padding: 8px 20px;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: #21453C;
	background-color: #E3E4D3;
	border: 1px solid #BBBD94;
	border-radius: 8px;
	animation: transform 0.1s;
	cursor: pointer;
}

input[type="radio"]:not(:disabled) .answer:hover {
	background-color: #BBBD94;
}

input[type="radio"]:checked + .answer{
	background-color: #9FD0C3;
	border-color: #9FD0C3;
}
.isCorrect,
input[type="radio"]:checked + .isCorrect {
	text-decoration-line: underline;
	text-underline-offset: 12%;
	text-decoration-style: wavy;
	text-decoration-skip-ink: none;
	text-decoration-thickness: 0.0125em;
	background-color: #CBD260;
	border-color: #CBD260;
	opacity: 1;
}
input[type="radio"]:checked +	.isWrong {
	background-color: #F6A179;
	border-color: #F6A179;
}

input[type="radio"]:disabled + .answer {
	cursor: not-allowed;
}
input[type="radio"]:disabled + .answer:not(.isCorrect) {
	opacity: 0.6;
}
