#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}


.container {
	padding: 0 20px;
}

.blob {
	position: absolute;
	width: 400px;
	height: 350px;
}
.blob.yellow {
	top: -12%;
	right: -12%;
	background-color: #F1D598;
	border-top-left-radius: 170px 290px;
	border-top-right-radius: 350px 260px;
	border-bottom-right-radius: 310px 190px;
	border-bottom-left-radius: 200px 130px;
	transform: rotate(50deg);

}
.blob.green {
	bottom: -10%;
	left: -10%;
	background-color: #E3E4D3;
	border-top-left-radius: 230px 130px;
	border-top-right-radius: 240px 200px;
	border-bottom-right-radius: 180px 370px;
	border-bottom-left-radius: 380px 390px;
	transform: rotate(20deg);
}




